<form action="/restaurant/read/<%= restaurant.id %>" method="post">
  
    <div class="container">
        <div class="control">
              <a id="Home" href="http://localhost:1337/">Home</a>
              <a id="Create" href="http://localhost:1337/restaurant/create">Create</a>
              <a id="Search" href="http://localhost:1337/restaurant/search">Search</a>
              <a id="Admin" href="http://localhost:1337/restaurant/admin ">Admin</a>
        </div>
    </div>

    <div class="container">
        <h1 class="title">
          Q-Pon
        </h1>
        <p class="subtitle">
          Redeem your coins for dining <strong>Coupon</strong>!
        </p>
    </div>
  
    <div class="column">
      <div class="column card is-two-thirds column"> 
          <img src="<%= restaurant.image%>">
      </div>

      <section class="section">

    </section>

      <div class="column card is-one-thirds column">
          <ul>
              <li>·<%=restaurant.Rname%></li>
              <li>·<%=restaurant.title%></li>
              <li>·Coins:<%=restaurant.coins%></li>
              <li>·Address:<%=restaurant.mall%>,<%=restaurant.region%></li>
              <li>·Expiry Date:<%=restaurant.Expirydate%></li>
              <li>·<%=restaurant.message%></li>
          </ul>
      </div>
  </div>
</form> 